@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --cor-bgPrincipal: #3f1a30;
    --cor-bgContraste: #64b788;
    --cor-verdeDestaque: #80ffa8;
    --cor-verdeCargo: #20a50b;
}

* {
    font-family: 'Poppins', sans-serif;
}

/* navbar */
body {
    width: 100vw;
    height: 100vh;

    background: linear-gradient(180deg, rgba(63, 26, 48, 1) 50%, rgba(0, 0, 0, 1) 100%);

    overflow-x: hidden;
}
main {
    display: flex;
}
nav {
    width: 7vw;
    height: 50vh;
    min-width: 60px;
    max-height: 230px;
    border-radius: 5px;

    position: relative;
    z-index: 2;
    left: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0.5rem 0;
    margin-left: 3%;
    margin-top: 6%;

    background-color: #ffffff;
}
nav > div {
    width: 100%;
    height: 25%;

    display: flex;
    justify-content: center;

    cursor: pointer;
}
nav > div:hover img {
    /* Essas duas cores podem ser possíveis */
    filter: invert(75%) sepia(74%) saturate(6107%) hue-rotate(79deg) brightness(92%) contrast(91%);
    /* filter: invert(74%) sepia(29%) saturate(589%) hue-rotate(85deg) brightness(112%) contrast(102%); */
}
.imagensBotoes {
    width: 40%;
    height: 80%;
    min-width: 32px;
}
.imagensBotoes:not(#botaoSobre) {
    margin: 0.3rem 0 0;
}
#botaoSobre {
    min-width: 40px;

    margin: 0.1rem 0 0 10%;
}
#divContraste {
    height: calc(100vh - 0.9375rem);
    width: 40vw;
    border-radius: 5px 5px 0 0;

    margin: 0.9375rem 0 0 1rem;

    background-color: var(--cor-bgContraste);
}
#principal {
    width: 38vw;
    height: 90vh;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;
    right: 37vw;
    margin-top: 3.5%;

    background-color: #ffffff;
}
#fotoFundo {
    width: 100%;
    height: 40%;
    border-radius: 5px 5px 0 0;

    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    background-image: url(/Assets/fundoPrincipal.jpg);
    background-size: cover;

    overflow: hidden;
}
#efeitoEsquerdo {
    height: 60%;
    width: 50%;
    transform: translate(-8%, 85%) rotate(10deg);

    position: relative;

    background-color: #ffffff;
}
#circulo {
    width: 30%;
    height: 30%;
    border-radius: 46%;

    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    transform: translate(120%, 65%);
    z-index: 1;

    background-color: #ffffff;
}
#fotoPerfil {
    width: 86%;
    height: 75%;
    border-radius: 48%;

    transform: translate(0, -11%);

    background-image: url(/Assets/foto.jpg);
    background-size: cover;
    background-position: 0px -6px;
}

#efeitoDireito {
    height: 60%;
    width: 50%;
    transform: translate(8%, 85%) rotate(-10deg);

    position: relative;

    background-color: #ffffff;
}
#conteudoPrincipal {
    width: 100%;
    height: 60%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#conteudoPrincipal > h1 {
    justify-self: center;
    margin: 0.5rem 0;

    font-size: 0.8rem;
    color: var(--cor-verdeCargo);
}
#conteudoPrincipal > h2 {
    position: relative;
    justify-self: center;
    margin-top: -1rem;
    z-index: 2;

    font-size: 1.5rem;
}

#iconesSociais {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
#iconesSociais img {
    width: 1.5rem;
    height: 1.5rem;

    margin: 0 0.5rem;

    cursor: pointer;
}
footer {
    display: flex;
    justify-content: space-between;
    padding: 0 2rem 1.2rem;

    font-size: 0.7rem;
}

/* Responsividade */
/* Desktop */
@media screen and (min-width: 1200px) {
}
/* Notebooks */
@media screen and (min-width: 960px) {
}
/* Tablets */
@media screen and (min-width: 720px) {
}
/* Mobile */
@media screen and (max-width: 576px) {
}
